* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00001c;
}

.score-bar {
  height: 200px;
  margin: 15px auto 0px auto;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  align-items: start;

  .bar-img {
    width: 25%;
    &:hover{
      cursor: pointer;
    }

    }
  }

  .start-btn {
    width: 150px;
    height: 50px;
    padding: 1%;
    margin-top: 3%;
    border-radius: 20px;
    border: 0;
    color: white;
    background-color: #3a405a;
    font-size: 1.5rem;
    font-weight: 600;

    &:hover{
      cursor: pointer;
    }
  }


.text {
  display: flex;
  justify-content: center;
  background-color: #00001c;
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
}

.results {
  width: 40%;
  width: 40%;
  background-color: #3a405a;
  height: auto;
  margin: 5% auto;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  padding: 1%;
  display: none;
}

.score-board-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  .score-board {
    width: 50%;
    font-size: 3rem;
    margin-bottom: 20px;
    height: 60px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
  }
}

#display-btn {
  margin: auto auto;
  width: 100%;
  padding: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .choose-btn {
    border: 0px;
    background: none;
    margin: 0.5%;
    width: 20%;

    .paper-img,
    .rock-img,
    .scissors-img {
      width: 100%;
    }
  }
}

.game-box {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .img-holder {
    margin: 5%;
    background-color: #00001c;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 1%;
    .rock-img,
    .scissors-img {
      width: 50%;
      padding: 2%;
    }
    .enemy-img {
      margin: auto;
      width: 30%;
    }
  }
}

.replay-btn {
  background-color: #00001c;
  color: white;
  padding: 1%;
  border: 0;
  width: 40%;
  height: 40px;
  border-radius: 24px;
  margin-top: 10px;
  font-size: 1rem;
}

.container {
  width: 80%;
  margin-top: 100px;
  display: none;
  background-color: #3a405a;
}

.replay-img {
  width: 10%;
  margin: 1px 10px;
}

.container {
  width: 80%;
  margin: auto;
  display: none;
}

@media (min-width: 768px) {
  .score-bar {
    height: 150px;
    flex-direction: row;
    width: 100%;

  }

  .score-board {
    width: 30%;
  }

  #display-btn {
    .choose-btn,
    .game-box {
      width: 10%;
    }
  }
  .box-height {
    height: 110px;
  }
}

@media (min-width: 980px) {
  #display-btn {
    .choose-btn {
      width: 8%;
    }
  }
  .box-height {
    height: 160px;
  }
}
